<section>
  <div>
    <canvas id="bar1"></canvas>
  </div>
</section>

<style>
  div {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
  }
</style>

<script>
  import chartjs from "chart.js/auto";
  import type { BarConfig } from "@interface/index";
  import type { PartyTweetsCounter } from "@interface/index";
  import { getPartyTweetsCounter } from "@service/index";
  import { politicalPartiesColor as ppc } from "@data/index";
  import { barConfiguration } from "@utils/index";

  const chartCanvas: HTMLCanvasElement = document.getElementById(
    "bar1"
  ) as HTMLCanvasElement;
  const ctx = chartCanvas.getContext("2d")!;
  const data: PartyTweetsCounter[] = await getPartyTweetsCounter();
  const template: BarConfig = data.reduce(
    (acc: any, { class_name, recount }) => {
      acc.labels.push(class_name);
      acc.values.push(recount);
      acc.color.push(ppc[class_name].color);
      acc.bColor.push(ppc[class_name].border_color);
      return acc;
    },
    {
      labels: [],
      values: [],
      color: [],
      bColor: [],
      axis: "y"
    }
  );
  const config = barConfiguration(template);
  new chartjs(ctx, config);
</script>
