<section>
  <canvas id="bar2"></canvas>
</section>
<script>
  import chartjs from "chart.js/auto";
  import type { BarConfig, RetweetSumPoliticalParties } from "@interface/index";
  import { getRetweetSumPoliticalParties } from "@service/index";
  import { barConfiguration } from "@utils/index";
  import { politicalPartiesColor as ppc } from "@data/index";

  let chartCanvas: HTMLCanvasElement = document.getElementById(
    "bar2"
  ) as HTMLCanvasElement;

  let ctx = chartCanvas.getContext("2d")!;

  const data: RetweetSumPoliticalParties[] = await getRetweetSumPoliticalParties();
  const template: BarConfig = data.reduce(
    (acc: any, { class_name, recount }) => {
      acc.labels.push(class_name);
      acc.values.push(recount);
      acc.color.push(ppc[class_name].color);
      acc.bColor.push(ppc[class_name].border_color);
      return acc;
    },
    {
      labels: [],
      values: [],
      color: [],
      bColor: [],
      axis: "",
    }
  );
  const config = barConfiguration(template);

  new chartjs(ctx, config);
</script>


