---
import { getSentimentCount } from "@service/index";
import { sentimentTextColorGradient, sentimentColor } from "@data/index";
import GradiantText from "@components/GradiantText.astro";
const data = await getSentimentCount();
---

<section>
  {
    data.map(({ sentiment_type, recount }) => {
      return (
        <span>
          <GradiantText text={recount} gradient={sentimentTextColorGradient[sentiment_type]}/>
        </span>
      );
    })
  }
</section>

<style>
  section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  span {
    font-size: 3.1em;
    display: block;
    font-weight: 900;
  }
</style>
