<section>
  <canvas id="pie1"></canvas>
</section>


<script>
  import chartjs from "chart.js/auto";
  import type { PieConfig, SumRetweetsSentiment } from "@interface/index";
  import { getSumRetweetsSentiment } from "@service/sum_retweets_sentiment";
  import { pieConfiguration } from "@utils/index";
  import { sentimentColor } from "@data/index";

  const chartCanvas: HTMLCanvasElement = document.getElementById(
    "pie1"
  ) as HTMLCanvasElement;
  const ctx = chartCanvas.getContext("2d")!;
  const data: SumRetweetsSentiment[] = await getSumRetweetsSentiment();

  const template: PieConfig = data.reduce(
    (acc: any, { sentiment_type, recount }) => {
      acc.labels.push(sentiment_type);
      acc.values.push(recount);
      acc.color.push(sentimentColor[sentiment_type]);
      acc.bColor = "#0000f";
      return acc;
    },
    {
      labels: [],
      values: [],
      color: [],
      bColor: "",
    }
  );

  const config = pieConfiguration(template);
  new chartjs(ctx, config);
</script>
