---
import { getTotalTweets } from "@service/index";
import GradiantText from "@components/GradiantText.astro";
const { total_tweets } = await getTotalTweets();
import { setPoint } from "@utils/index";
---

<section>
  <span>
    <GradiantText
      text={`${setPoint(total_tweets)} tweets`}
      gradient={"var(--blue-gradient)"}
    />
  </span>
</section>

<style>
  span {
    font-size: 3em;
    font-weight: 900;
  }
  section {
    display: flex;
    justify-content: center;
    gap: 4em;
    background-color: linear-gradient(120deg, #1d9bf0 0%, #17bbc7 100%);
  }
</style>
