---
import GradiantText from "@components/GradiantText.astro";
import { getTotalRetweets } from "@service/total_retweets";
import { setPoint } from '@utils/index'

const { total_retweets } = await getTotalRetweets();
---

<section>
  <span>
    <GradiantText
      text={`${setPoint(total_retweets)} retweets`}
      gradient={"var(--green-gradient)"}
    />
  </span>
</section>

<style>
  span {
    font-size: 3em;
    font-weight: 900;
  }
  section {
    display: flex;
    justify-content: center;
    gap: 4em;
  }
</style>
