<svg viewBox="0 0 128 128" width="24" height="24">
  <path
    d="M96 118.664c-.109.433-.542.65-1.298.65H80.245c-.87 0-1.621-.379-2.274-1.138L54.1 87.807l-6.658 6.334v23.552c0 1.084-.543 1.625-1.625 1.625H34.611c-1.084 0-1.625-.541-1.625-1.625V10.343c0-1.08.54-1.622 1.625-1.622h11.207c1.082 0 1.625.543 1.625 1.621v66.1l28.583-28.908c.758-.756 1.516-1.137 2.273-1.137h14.944c.648 0 1.08.273 1.299.81.218.651.164 1.137-.164 1.463l-30.21 29.228 31.507 39.14c.431.434.54.975.328 1.626"
    fill="#20beff"></path>
</svg>
