---
export interface Props {
  title: string;
  description : string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content={description}>
    <title>{title}</title>
  </head>
  <body>
      <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)),#da62c4 30%,white 60%);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.48vw + 1.45rem, 3.45rem);
    --title-gradient: linear-gradient(-70deg, #ffae00 0%, #ff2b2b 100%);
    --subtitle-gradient: linear-gradient(-70deg, #4B5563 0%, #353c5a 100%);
    --blue-gradient : linear-gradient(120deg, #1D9BF0 0%, #17bbc7 100%);
    --green-gradient: linear-gradient(120deg, #00BA7C 0%, #17c72f 100%);
  }
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji",
      ClearSans-Bold;
      background-image: url(/assets/background.png), linear-gradient(-70deg, #F1F3F4 0%, #F1F3F4 100%);
  }
  body{
    margin: 0
  }
</style>
