---
import Layout from "@layouts/Layout.astro";
import HomePrincipal from "@components/HomePrincipal.astro";
import PoliticalParties from "@components/PoliticalParties.astro";
import Graphics from "@components/Graphics.astro";
import NavBar from "@components/NavBar.astro";
import Warning from "@components/Warning.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="Elecciones españolas 2023"
  description="¡Descubre las últimas tendencias de la política española a tiempo real!"
>
  <NavBar bg="#181B29" color="#FFFFFF" />
  <HomePrincipal />
  <PoliticalParties />
  <Graphics />
  <Footer />
</Layout>
