---
import Layout from "@layouts/Layout.astro";
import Description from "@components/Description.astro";
import Technologies from "@components/Technologies.astro";
import ProjectOperation from "@components/ProjectOperation.astro";
import Benefits from "@components/Benefits.astro";
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
---

<Layout title="Sobre el proyecto" description="">
  <NavBar bg="transparent" color="black" />
  <Description />
  <Technologies />
  <ProjectOperation />
  <Benefits />
  <Footer />
</Layout>

<style>
 
</style>
