---
import Container from "@components/Container.astro";
import GradiantText from "@components/GradiantText.astro";

const info = [
  `Mayor eficiencia en el procesamiento y análisis de grandes volúmenes de datos, 
                gracias al uso de herramientas y servicios en la nube como Azure, Azure Function, 
                Azure Storage y Azure SQL Server.`,
  `Capacidad para extraer información valiosa y significativa a tiempo real 
                de datos semi estructurados con Nifi, como los tweets de Twitter, gracias al uso de herramientas 
                como la API de Twitter y Azure Text Analytics.`,
  `Posibilidad de visualizar y presentar los datos de manera clara y concisa, utilizando 
                herramientas de BI como Power BI y Chart.js.`,
  `Obtención de conclusiones precisas y oportunas sobre la opinión pública en 
                España sobre la política, lo que podría ser útil para tomar decisiones informadas 
                y mejorar la comunicación y el compromiso con los ciudadanos.`,
  `Mayor conocimiento y experiencia en el uso de tecnologías emergentes como Astro, 
                lo que podría ser beneficioso para futuros proyectos o iniciativas.`,
];
---

<Container>
  <section>
    <h2>
      <GradiantText text="Beneficios" gradient="var(--subtitle-gradient)" />
    </h2>
    <div>
      <ul>
        {info.map((e) => <li>{e}</li>)}
      </ul>
    </div>
  </section>
</Container>

<style>
  section {
    margin-bottom: 4em;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  ul {
    padding-left: 1em;
  }
  li {
    font-size: 1.15rem;
  }
</style>
