---
import Container from "@components/Container.astro";
import GradiantText from "@components/GradiantText.astro";
---

<Container>
  <section>
    <h1>
      <GradiantText
        text="Información sobre el proyecto"
        gradient="var(--title-gradient)"
      />
    </h1>
    <h2>
      <GradiantText
        text="Descripción y objetivos"
        gradient="var(--subtitle-gradient)"
      />
    </h2>
    <p>
      eleccionesespanolas2023.vercel.app es una plataforma web que utiliza
      tecnología de vanguardia para recopilar y analizar en tiempo real la
      opinión pública sobre los partidos políticos en España. Su objetivo
      principal es proporcionar una perspectiva objetiva y actualizada de las
      tendencias políticas en el país. El proyecto se centra en seguir de cerca
      las opiniones y sentimientos de la gente sobre la política española,
      ofreciendo información valiosa a los usuarios interesados en estar al día
      con la situación política actual.
    </p>
  </section>
</Container>

<style>
  h1 {
    font-size: var(--font-size-xl);
    font-weight: 800;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  p {
    font-size: 1.15rem;
  }
</style>
