---
import Gitlab from "@components/icons/Gitlab.astro";
import Linkedin from "@components/icons/Linkedin.astro";
import Kaggle from "@components/icons/Kaggle.astro";
---

<footer>
  <div>
    <a
      target="_blank"
      rel="noreferrer noopener nofollow"
      href="https://es.linkedin.com/in/bangal-camara"
      >Linkedin
      <Linkedin />
    </a>
    <span>•</span>
    <a
      target="_blank"
      rel="noreferrer noopener nofollow"
      href="https://gitlab.com/Bangal22/2023spainelections"
      >GitLab
      <Gitlab />
    </a>
    <span>•</span>
    <a
      target="_blank"
      rel="noreferrer noopener nofollow"
      href="https://www.kaggle.com/bangalcamara"
      >Kaggle
      <Kaggle />
    </a>
  </div>
</footer>

<style>
  footer {
    color: white;
    align-items: center;
    background: linear-gradient(rgb(24, 27, 41), rgb(19, 25, 56));
    display: flex;
    font-size: 1rem;
    padding: 1.5rem 0;
    justify-content: center;
  }
  div {
    display: flex;
    gap: 0.5em;
  }
  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  a:hover {
    border-bottom: 0.5px solid white;
  }
</style>
