---
import PartyTweetsCounter from "@components/Graphics/PartyTweetsCounter.astro";
import SumRetweetsSentiment from "@components/Graphics/SumRetweetsSentiment.astro";
import SentimentCount from "@components/Graphics/SentimentCount.astro";
import RetweetIcon from "@components/icons/RetweetIcon.astro";
import RetweetSumPoliticalParties from "@components/Graphics/RetweetSumPoliticalParties.astro";
import TotalTweets from "@components/Graphics/TotalTweets.astro";
import TotalRwtweets from "@components/Graphics/TotalRwtweets.astro";
import Container from "@components/Container.astro";
import Twitter from "@components/icons/Twitter.astro";
---

<section>
  <article>
    <Container>
      <h2>Recuento de tweets por partido político<span><Twitter /></span></h2>
      <p>
        El gráfico muestra claramente que el PSOE es el partido político más
        mencionado en los tweets analizados. Con una amplia brecha sobre los
        otros partidos, se puede observar que los usuarios de Twitter hablan más
        del PSOE en relación a su presencia en la plataforma.
      </p>
      <TotalTweets />
      <PartyTweetsCounter />
    </Container>
  </article>
  <article>
    <Container>
      <h2>Suma de retweets por partido político<RetweetIcon /></h2>
      <p>
        Este gráfico muestra claramente que los tweets que mencionan al Partido
        Socialista Obrero Español (PSOE) tienen muchos más retweets que los que
        mencionan al resto de partidos políticos. La diferencia es bastante
        significativa, lo que sugiere que el PSOE tiene una presencia más fuerte
        en las redes sociales en comparación con sus competidores políticos.
      </p>
      <TotalRwtweets />
      <RetweetSumPoliticalParties />
    </Container>
  </article>
  <article>
    <Container>
      <h2>Classificacion de tweets y retweets por popularidad</h2>
      <p>
        Los gráficos muestran la distribución de sentimientos en Twitter. Los
        tweets negativos (azul claro) son los más comunes, seguidos de los
        neutrales (azul) y los positivos (naranja). Los tweets negativos también
        reciben la mayoría de los retweets, mientras que los positivos tienen
        los números más bajos. En resumen, los usuarios de Twitter suelen
        expresar más sentimientos negativos, los cuales reciben mayor atención
        en la plataforma.
      </p>
      <section>
        <div>
          <SentimentCount />
        </div>
        <div class="c-23">
          <SumRetweetsSentiment />
        </div>
      </section>
    </Container>
  </article>
</section>

<style>
  h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  p {
    text-align: center;
  }
  article {
    margin: 0 0 5em 0;
  }
  h3 {
    text-align: center;
  }
  .c-23 {
    width: 55%;
    margin: 0 auto;
  }
</style>
