---
import GradiantText from "@components/GradiantText.astro";
import Representatives from "@components/Representatives.astro";
import Container from "@components/Container.astro";
---

<section>
  <Container>
    <div>
      <Representatives />
    </div>
    <header>
      <h1>
        <GradiantText
          text={"ELECCIONES ESPAÑOLAS 2023"}
          gradient={"var(--title-gradient)"}
        />
      </h1>
    </header>
    <article>
      <Container>
        <p>
          eleccionesespanolas2023.vercel.app es una página web que utiliza
          tecnología de última generación para recuperar datos en tiempo real y
          analizar la opinión pública sobre los partidos políticos. Con el
          objetivo de proporcionar una perspectiva objetiva y actualizada de las
          tendencias políticas.
        </p>
      </Container>
      <span>(Los datos se actualizan en tiempo real. Fuente: Twitter)</span>
    </article>
  </Container>
</section>

<style>
  div {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  section {
    padding: 50px 0 150px 0;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(24, 27, 41), rgb(17, 21, 41));
    z-index: -2;
    position: relative;
    border-bottom-right-radius: 15%;
  }
  h1 {
    font-size: var(--font-size-xl);
    font-weight: 800;
    text-align: center;
  }
  p {
    text-align: center;
    color: white;
    font-weight: 600;
  }
  span {
    display: flex;
    justify-content: center;
    font-size: 0.81em;
    color: white;
    font-weight: 600;
  }
  img {
    filter: grayscale(100%);
    opacity: 0.1;
    object-fit: cover;
    height: 25em;
  }
  @media (max-width: 1200px) {
    div {
      display: none;
    }
  }
</style>
