---
const {bg, color} = Astro.props;
---
<nav style={`background-color: ${bg}`}>
  <a style={`color: ${color}`} href="/">Inicio</a>
  <a style={`color: ${color}`} href="/sobre-el-proyecto">Sobre el proyecto</a>
  <a class="disabled" href="/redes-sociales">Redes sociales</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 1em 0;
  }
  .disabled {
    pointer-events: none;
    color: #b0b0b0;
  }
  a { 
    text-decoration: none;
    font-size: 1.2em;
    transition-property: background color;
    transition-duration: 0.2s;
    font-weight: 600;
  }
  a:hover,
  a:focus {
    background: -webkit-linear-gradient(-70deg, #ffae00 0%, #ee2626 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
