---
import { politicalParties } from "@data/index";
import { politicalPartiesColor } from "@data/index";
---

<section>
  {
    politicalParties.map(({ name, title, png, height, width, link, alt }) => {
      return (
        <a
          href={link}
          style={`background-color:${politicalPartiesColor[name].color}`}
          target="_blank"
          rel="noreferrer noopener nofollow"
          aria-label={`Partido político de ${name}`}
        >
          <img
            loading="lazy"
            decoding="async"
            alt={alt}
            title={title}
            src={png}
            height={height}
            width={width}
          />
        </a>
      );
    })
  }
</section>

<style>
  section {
    position: relative;
    top: -4em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    align-self: center;
  }
  a {
    border-radius: 10%;
    padding: 0.7em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 2px,
      rgba(9, 30, 66, 0.13) 0px 0px 2px 2px;
    background-image: url(/assets/background.png);
    background-color: #fcfffe;
    transition-property: scale;
    transition-duration: 0.2s;
    object-fit: contain;
  }
  a:hover {
    scale: 1.2;
  }
  img {
    object-fit: contain;
  }
</style>
