---
import Container from "@components/Container.astro";
import GradiantText from "@components/GradiantText.astro";
---

<Container>
  <section>
    <h2>
      <GradiantText
        text="Funcionamiento del proyecto"
        gradient="var(--subtitle-gradient)"
      />
    </h2>
  </section>
  <div>
    <p>
      El proyecto comienza con la recolección de tweets a través de la API de
      Twitter utilizando Apache NiFi. Se ha configurado un flujo de datos que
      extrae los tweets que contienen palabras clave relacionadas con la
      política española, más concretamente los nombres de los partidos políticos
      más relevantes (PSOE, VOX, PP y Unidas Podemos) y los envía a una función
      de Azure. La función de Azure utiliza Python para almacenar primero los
      datos en bruto procedentes de nifi (azure storage), luego procesa los
      datos para extraer de forma limpia la información más relevante. A
      continuación, se utiliza Azure Text Analytics para analizar el sentimiento
      de cada tweet y clasificarlo como positivo, negativo o neutro. Los
      resultados de este análisis y los datos más relevantes se almacenan en una
      base de datos Azure SQL Server y luego se accede a ellos para su
      visualización en tiempo real en Power BI. Para la visualización web se ha
      creado una sencilla página con Astro y una api realizada con Node.js.
    </p>
  </div>
</Container>

<style>
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  p{
    font-size: 1.15rem;
    font
  }
</style>
