---
import { representatives } from "@data/index";
---

<div>
  {
    representatives.map(({ label, img, width, height }) => (
      <img src={img} alt={label} width={width} height={height} /> // I don't use loading="lazy" decoding="async" because it slows down my web page performance in this case (lighthouse). Error: Contentful Paint's larger image loaded lazily.
    ))
  }
</div>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
    gap: 10em;
  }
  img {
    margin: 0 0 0 -10em;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.222;
  }
</style>
