---
import Container from "./Container.astro";
import GradiantText from "./GradiantText.astro";
import { technologies } from "@data/index";
---

<Container>
  <section>
    <h2>
      <GradiantText
        text="Tecnologias"
        gradient="var(--subtitle-gradient)"
      />
    </h2>
    <div class="grid">
      {
        technologies.map(({ svg, alt }) => {
          return (
            <div class="card">
              <img src={svg} alt={alt} loading="lazy" decoding="async" />
            </div>
          );
        })
      }
    </div>
  </section>
</Container>

<style>
  .grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
  }
  .card {
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid rgb(119, 119, 119);
    transition: border 0.2s;
    background: rgba(169, 173, 180, 0.2);
    /* max-height: 10rem; */
    /* min-width: 20%; */
    /* max-width: 50%; */
    width: 15em;
    height: 7em;
  }
  .card:hover {
    border: 1px solid rgb(177, 97, 5);
    background: transparent;
  }
  .card > img {
    filter: grayscale(100%);
    min-width: 15rem;
    transition: background 0.2s, scale 0.2s;
    object-fit: fill;
  }
  .card:hover > img {
    filter: grayscale(0%);
    scale: 0.9;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  @media (max-width: 720px) {
    .card {
      width: 100%;
    }
  }
</style>
