---
import Alert from "./icons/Alert.astro";
import Container from "./Container.astro";
---

<Container>
  <div>
      <span><Alert /></span>
      <p>
      Los datos categorizados por "other", no se han
      podido categorizar debido a problemas tecnincos con la API.
    </p>
  </div>
</Container>

<style>
  div{
    margin: 0 0 5em 0;
  }
  span{
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
  }
</style>
